
body, div.container-fluid, div#main-container, div.content-wrapper{
    position: relative;
    /*overflow: hidden;*/
}


div.content-wrapper-parent{
    padding-left: 50px;
    padding-right: 50px;
}


div.content-wrapper{
    background: transparent;
    border: 1px solid #a3a5ff;
    min-height: 200px;
    border-radius: 2px;
}

form.form-wrapper{
    display: none;
    background: rgb(255,255,255);
    padding: 0 13px 0 13px;
    border-radius: 5px;
    border: 1px solid rgba(141,79,255,0.3);
}

.btn-submit, div#redirect-section div button {

    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;

    font-size: 13px;
    font-weight: bold;
    width: 100%;

    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;

    /* size comes from text & padding (no width/height) */
    padding: 0.8em 1em;

    /* make sure colors have enough contrast! */
    color: #ffffff;
    cursor: pointer;
}

.btn-submit:hover {
    background: linear-gradient(to right, #8d4fff, #fa9e1b, #8d4fff);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

input.input{
    border: 1px solid #e8e8e8;
    height: 38px;
    width: 100%;
}

div.input-wrap {
    padding-right: 13px;
    padding-left: 13px;
}

input{
    text-align:center!important;
}

input.input-pin{
    height: 35px;
    width: 100%!important;
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
    border: 1px solid #e8e8e8;
    border-left-width: 0;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo-section{
    margin-bottom: 13px;
}

.logo-section > span > img{
    width: 216px;
    height: 62px;
}

img.main-logo{
    width: 200px;
    height: 56px;
}

div.div-pin > div{
    float: left!important;
}

.loading-indicator{
    background-color: transparent!important;
    top: 35vh;
    z-index: 999;
    position: fixed;
    right: 45vw;
}

ul.main_nav_list li.main_nav_item a{
    cursor: pointer;
}

div.menu_content ul li.menu_item a{
    cursor: pointer;
}

div.footer_nav ul.footer_nav_list li.footer_nav_item a{
    cursor: pointer;
}

div.faq-list{
    text-align: left;
    padding-bottom: 10px;
}

div.trending_title a, div.trending_location, div.trending_price{
    font-size: 13px;
}

div.trending_content{
    padding-top: 5px;
}

div.faq-list h4{
    color: #767d83;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        text-align: center;
    }
}

@media only screen and (max-width: 479px){
    .container-fluid {
        text-align: center;
    }
}