
a.link{
	text-decoration: none;
}

a.link:hover{
	background: transparent;
	color: #fa9e1c;
}

a.learn-more{
	background: transparent;
	color: #fa9e1c;
	text-decoration: none;
}

a.learn-more:hover{
	background: transparent;
	color: #fa9e1c;
}

div.load-more{
	background: rgba(54, 19, 84, 0.2);
}

.modal-overlay{
	width: 100%;
	height: 100%;
	left:0;
	top:1px;
	overflow:hidden;
	background: rgba(0, 0, 0, .7) !important;
	text-align: center;
	color: #fa9e1c;
	display:none;
	position: fixed;
	padding-top: 30px;
	z-index: 99999999999;
}

.modal-active{
	display:block;
}

#noty_topRight_layout_container{
	z-index:9999999999999999999999999999999999999 !important;
}

.modal-bottom-div{
	text-align: center;
	padding-bottom: 2px;
}